
/*----------------------------------------------------
    TEMPLATE
-----------------------------------------------------*/
.template {
    width: 100%;

    > form {
        height: 250px;
    }

    &.growthHacking {
        display: flex;
        width: 100%;
    }

    &.customerJourney form,
    &.growthHackingOne form,
    &.marketFit form{
        border: solid black 2px;
        display: flex;
        
        div {
            width: 30%;
        }

        &.metrics {
            width: 100%;
            height: 100px;
            
            div {
                height: 100px;
            }
        }

    }
}