<h1>Growth Model Template</h1>
<h2>Create data-driven marketing strategies to accelerate growth</h2>

<header>
  <form action="#">
    <label for="northStar">
        North Star Metric
    </label>
    <input type="text" name="northStar">

    <label for="designedFor">
      Designed For
    </label>
    <input type="text" name="designedFor">

    <label for="date">
      Date
  </label>
  <input id="today" ng-model="date" type="date" name="date">
  </form>
</header>

<section class="template customerJourney">
  <form action="#">
    <div>
      <label for="targetAudience">
        Target Audience
      </label>
      <p>Which brad segments of potential customers can be defined?</p>
    </div>
    
    <div>
      <label for="valueProposition">
        Value proposition(s)
      </label>
      <p>...</p>
    </div>
    
    <div>
      <label for="see">
        See
      </label>
      <p>...</p>
    </div>

    <div>
      <label for="think">
        Think
      </label>
      <p>...</p>
    </div>

    <div>
      <label for="do">
        Do
      </label>
      <p>...</p>
    </div>

    <div>
      <label for="care">
        Care
      </label>
      <p>...</p>
    </div>

    <div>
      <label for="customer">
        Customer(s)
      </label>
      <p>...</p>
    </div>
    
  </form>
</section>

<div class="template growthHacking">
  <section class="template growthHackingOne">
    <form action="#">
      <div>
        <label for="goals">
          Goals
        </label>
        <p>...</p>
      </div>
  
      <div>
        <label for="awareness">
          Awareness
        </label>
        <p>...</p>
      </div>
  
      <div>
        <label for="acquisition">
          Acquisition
        </label>
        <p>...</p>
      </div>
      
      <div>
        <label for="activation">
          Activation
        </label>
        <p>...</p>
      </div>
    </form>
    <footer class="metrics">
      <form action="#">
        <div>
          <label for="collectData">
            Collect data
          </label>
          <p>...</p>
        </div>
      </form>
    </footer>
  </section>
  
  <section class="template marketFit">
    <form action="#">
      <div>
        <label for="retention">
          Retention
        </label>
        <p>...</p>
      </div>
  
      <div>
        <label for="referral">
          Referral
        </label>
        <p>...</p>
      </div>
      
      <div>
        <label for="revenue">
          Revenue
        </label>
        <p>...</p>
      </div>
  
      <div>
        <label for="growth">
          Growth
        </label>
        <p>...</p>
      </div>
    </form>
    <footer class="metrics">
      <form action="#">
        <div>
          <label for="enrichData">
            Enrich data
          </label>
          <p>...</p>
        </div>
      </form>
   </footer>
  </section>
</div>